{% extends 'base.html' %}

{% block content %}

  <div class="row align-items-center h-100">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastrar voo base</h5>
            <p class="card-text">Crie voos base no sistema.</p>
            <div class="text-center">
              <a type="button" href="{% url 'create-base' %}"  class="btn-primary btn">Cadastrar</a>
            </div>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Filtrar dados de um voo base</h5>
          <p class="card-text">Filtre os voos base.</p>
          <div>
            <form class="d-flex" action="#" method="POST">      
              {% csrf_token %}    
              <input type="text" class="form-control" name="id-voo" id="id-voo" aria-describedby="helpId" placeholder="CEE3100">
              <input type="submit" class="btn btn-primary">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lista dos voos base</h5>
        <p class="card-text">Eis uma lista com todos os voos base cadastrados</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Codigo do voo</th>
              <th scope="col">Companhia</th>
              <th scope="col">Dia da semana</th>
              <th scope="col">Horário previsto</th>
              <th scope="col">Duracao</th>
              <th scope="col">Origem</th>
              <th scope="col">Destino</th>
              <th scope="col">Editar</th>
              <th scope="col">Agendar</th>
              <th scope="col">Deletar</th>
            </tr>
          </thead>
          <tbody>
              {% for voo in dados_voo_base %}
              <tr>
                <th scope="col">{{voo.id}}</th>
                <td scope="row">{{voo.codigo_voo}}</td>
                <td scope="row">{{voo.companhia_aerea}}</td>
                <td scope="row">{{voo.dia_da_semana}}</td>
                <td scope="row">{{voo.horario_partida_base|date:"H:i"}}</td>
                <td scope="row">{{voo.duracao_base|date:"H:i"}}</td>
                <td scope="row">{{voo.origem}}</td>
                <td scope="row">{{voo.destino}}</td>
                <td scope="row"><a href="{% url 'update-base' voo.codigo_voo %}">Editar</a></td>
                <td scope="row"><a href="{% url 'schedule-new' voo.codigo_voo %}">Agendar</a></td>
                <td scope="row"><a href="{% url 'delete-base' voo.codigo_voo %}" class="confirmation" id="delete-button">Deletar</a></td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript">
    var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('O item será deletado permanentemente, tem certeza?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }
  </script>
{% endblock %}