{% extends 'base.html' %}

{% block content %}

  <div class="row align-items-center h-100">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastrar voo</h5>
            <p class="card-text">Crie, altere ou consulte voos no sistema.</p>
            <div class="text-center">
              <a type="button" href="{% url 'create-base' %}"  class="btn-primary btn">Cadastrar</a>
            </div>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Buscar dados de um voo</h5>
          <p class="card-text">Consulte e atualize o estado dos voos.</p>
          <div>
            <form class="d-flex" action="#" method="POST">      
              {% csrf_token %}    
              <input type="text" class="form-control" name="id-voo" id="id-voo" aria-describedby="helpId" placeholder="CEE3100">
              <input type="submit" class="btn btn-primary">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}