{% extends 'base.html' %}

{% block content %}

  <div class="row align-items-center h-100">
    <div class="col-sm">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Menu de CRUD</h5>
          <p class="card-text">Crie, altere ou consulte voos no
            sistema.</p>
          <a href="{% url 'crud' %}" class="btn btn-primary">CRUD</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Monitoração</h5>
          <p class="card-text">Consulte e atualize o estado dos voos.</p>
          <a href="/monitoracao" class="btn btn-primary">Clique aqui</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Gerar Relatórios</h5>
          <p class="card-text">Gere relatórios em pdf, contendo os dados
            coletados de maneira formatada e legível.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    
  </div>

{% endblock %}