{% extends 'base.html' %}

{% block content %}

  <div class="row align-items-center h-100">
    <div class="col-sm">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Menu de CRUD</h5>
          <p class="card-text">Crie, altere ou consulte voos no
            sistema.</p>
          <a href="{% url 'crud' %}" class="btn btn-primary">Acesse aqui</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Monitoração</h5>
          <p class="card-text">Consulte e atualize o estado dos voos.</p>
          <a href="{% url 'monitoração' %}" class="btn btn-primary">Acesse aqui</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Gerar Relatórios</h5>
          <p class="card-text">Gere relatórios em pdf, contendo os dados
            coletados de maneira formatada e legível.</p>
          <a href="{% url 'relatorios' %}" class="btn btn-primary">Acesse aqui</a>
        </div>
      </div>
    </div>
    
  </div>

<div class="row align-items-center h-100 mt-4">
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Painel dos voos</h5>
        <div class="mt-5 my-2 d-flex justify-content-center">Voos de chegada</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Codigo do voo</th>
              <th scope="col">Companhia</th>
              <th scope="col">Dia da semana</th>
              <th scope="col">Hora de partida</th>
              <th scope="col">Hora de chegada</th>
              <th scope="col">Origem</th>
              <th scope="col">Destino</th>
              <th scope="col">Data</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
              {% for voo in dados_voo_real_chegada %}
              <tr>
                <th scope="col">{{voo.id}}</th>
                <td scope="row">{{voo.voo_base.codigo_voo}}</td>
                <td scope="row">{{voo.voo_base.get_companhia_aerea_display}}</td>
                <td scope="row">{{voo.voo_base.get_dia_da_semana_display}}</td>
                <td scope="row">{{voo.voo_base.horario_partida_base|date:"H:i"}}</td>
                <td scope="row">{{voo.voo_base.horario_chegada_base|date:"H:i"}}</td>
                <td scope="row">{{voo.voo_base.origem}}</td>
                <td scope="row">{{voo.voo_base.destino}}</td>
                <td scope="row">{{voo.data_voo|date:'d/m/Y'}}</td>
                <td scope="row">{{voo.estado_voo}}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
        <div class="mt-5 my-2 d-flex justify-content-center">Voos de partida</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Codigo do voo</th>
              <th scope="col">Companhia</th>
              <th scope="col">Dia da semana</th>
              <th scope="col">Hora de partida</th>
              <th scope="col">Hora de chegada</th>
              <th scope="col">Origem</th>
              <th scope="col">Destino</th>
              <th scope="col">Data</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
              {% for voo in dados_voo_real_origem %}
              <tr>
                <th scope="col">{{voo.id}}</th>
                <td scope="row">{{voo.voo_base.codigo_voo}}</td>
                <td scope="row">{{voo.voo_base.get_companhia_aerea_display}}</td>
                <td scope="row">{{voo.voo_base.get_dia_da_semana_display}}</td>
                <td scope="row">{{voo.voo_base.horario_partida_base|date:"H:i"}}</td>
                <td scope="row">{{voo.voo_base.horario_chegada_base|date:"H:i"}}</td>
                <td scope="row">{{voo.voo_base.origem}}</td>
                <td scope="row">{{voo.voo_base.destino}}</td>
                <td scope="row">{{voo.data_voo|date:'d/m/Y'}}</td>
                <td scope="row">{{voo.estado_voo}}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>

        </div>
      </div>
    </div>
  </div>
</div>  

{% endblock %}