{% extends 'base.html' %}

{% block content %}
<div class="row align-items-center h-100">
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lista dos voos</h5>
        <p class="card-text">Eis uma lista com todos os voos cadastrados</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Codigo do voo</th>
              <th scope="col">Companhia</th>
              <th scope="col">Dia da semana</th>
              <th scope="col">Horário previsto</th>
              <th scope="col">Duracao</th>
              <th scope="col">Origem</th>
              <th scope="col">Destino</th>
              <th scope="col">Data</th>
              <th scope="col">Horário partida</th>
              <th scope="col">Horário pouso</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
              {% for data in data_voo_base %}
              <tr>
                <th scope="col">{{data.id}}</th>
                <td scope="row">{{data.codigo_voo}}</td>
                <td scope="row">{{data.get_companhia_aerea_display}}</td>
                <td scope="row">{{data.get_dia_da_semana_display}}</td>
                <td scope="row">{{data.horario_partida_base|date:"H:i"}}</td>
                <td scope="row">{{data.duracao_base|date:"H:i"}}</td>
                <td scope="row">{{data.origem}}</td>
                <td scope="row">{{data.destino}}</td>
                <td scope="row">{{data.vooreal.data_voo|date:'d/m/Y'}}</td>
                <td scope="row">{{data.vooreal.horario_real_chegada|date:"H:i"}}</td>
                <td scope="row">{{data.vooreal.horario_real_partida|date:"H:i"}}</td>
                <td scope="row">{{data.vooreal.estado_voo}}</td>
                <td scope="row"><a href="{% url 'monitoração_update' data.codigo_voo %}">Atualizar</a></td>
                <td scope="row"><a href="{% url 'monitoração_delete' data.codigo_voo %}" class="confirmation" id="delete-button">Delete</a></td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var elems = document.getElementsByClassName('confirmation');
  var confirmIt = function (e) {
      if (!confirm('O item será deletado permanentemente, tem certeza?')) e.preventDefault();
  };
  for (var i = 0, l = elems.length; i < l; i++) {
      elems[i].addEventListener('click', confirmIt, false);
  }
</script>
{% endblock %}
