{% extends 'base.html' %}
{% load static %}  
{% block content %}

<body>
  <div class="row align-items-center h-100">
    <div class="col-sm">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Buscar voo</h5>
          <p class="card-text">Consulte um voo específico ou altere seu status.</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input type="text" class="form-control mb-2" name="voo_id" placeholder="Código do voo" aria-label="Código do voo">
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Buscar</button>
                    {% if error_message %}
                        <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                    {% endif %}
                  </div>
                </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
