{% extends 'base.html' %}

{% block content %}

    <body class="vh-100 px-3">
        <div class="row align-items-center h-100">
          <div class="col-sm">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Relatório por Companhia Aérea</h5>
                <p class="card-text">Gere relatórios de partida e/ou chegada de uma companhia aérea.</p>
                  <form method="post">
                      {% csrf_token %}
                      <div class="form-row align-items-center">
                        <div class="col-auto">
                          <input type="text" class="form-control mb-2" name="cia_id" placeholder="Companhia Aérea" aria-label="Companhia Aérea">
                        </div>
                        <div class="col-auto">
                          <button type="submit" class="btn btn-primary mb-2">Gerar relatório</button>
                          {% if error_message %}
                              <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                          {% endif %}
                        </div>
                      </div>
              </div>
            </div>
          </div>
        </div>
      </body>

{% endblock %}