{% load widget_tweaks %}

<div class="mt-5 mb-5 text-center">
  <h2 class="mt-5 mb-5 text-center">Dados do voo</h2>
    {% for hidden in forms_voo_base.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {% for field in forms_voo_base.visible_fields %}
        <div class="row mb-3 justify-content-center">
          <label class="col-sm-2 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
          <div class="col-sm-5">
            {{ field|attr:'class:form-control'|attr:'disabled:'}}
    
          {% for error in field.errors %}
            <span class="help-block text-danger">{{ error }}</span>
          {% endfor %}
        </div>
        </div>
    {% endfor %}
  </div>
